@import "./vars";

body {
  font-family: $main-font;
}
.header__menu {
  display: flex;
  justify-content: flex-end;
  margin-top: 22px;
}
.wrapper {
  max-width: 280px;
  width: 100%;
  margin: 0 auto;
}
.menu-list__item {
  display: block;
  font-size: 11px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    color: $hover-color;
    transition: 0.1s;
  }
}
.menu__item {
  position: relative;
  cursor: pointer;
  background-color: black;
}
.drop-down-menu {
  display: none;
  width: 182px;
  top: 59px;
  position: absolute;
  background: #f5f5f5;
  list-style: none;
  &__item {
    cursor: pointer;
    padding: 6px;
    font-size: 11px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: #4e4e4e;
    &:hover {
      color: $hover-color;
      background: #e5e5e5;
      transition: 0.1s;
    }
  }
}
.menu__list {
  display: none;
}
.img {
  width: 280px;
  display: block;
  margin: 0 auto;
}
.img--desktop {
  display: none;
}
.img-section {
  display: flex;
}
.img--laptop {
  display: none;
}
.img--mobile {
  margin-top: 30px;
}
.posts-section {
  display: grid;
  flex-direction: column;
}
.post-section__title {
  margin-top: 38px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  &::before {
    content: "-";
  }
}
.posts__img {
  object-fit: cover;
  width: 160px;
}
.posts__info {
  // margin-left: 20px;
  cursor: pointer;
  margin-top: 5px;
  // font-size: 11px;
  // color: $comment-color;
}
.posts__title {
  cursor: pointer;
  margin-top: 11px;
  font-weight: bold;
  font-size: 14px;
}
.posts {
  &__item {
    margin-top: 28px;
  }
  &__content {
    margin-top: 5px;
    display: none;
  }
  &__category {
    font-size: 12px;

    color: #7c7c7c;
  }
  &__comments {
    font-size: 12px;

    color: #7c7c7c;
  }
}
.posts__category {
  &::after {
    content: " /";
  }
}
.posts__img--hidden {
  display: none;
}

.footer {
  margin-top: 80px;
  padding: 38px 0;
  background-color: black;
  color: $footer-text-color;
  text-align: center;
  font-size: 14px;
}
.footer__info {
  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
}
.footer__title {
  margin-bottom: 8px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  &::after {
    content: "-";
  }
  &::before {
    content: "-";
  }
}
.footer__content {
  line-height: 20px;
  margin-bottom: 28px;
}
.media-icon {
  cursor: pointer;
}
.media-icons {
  margin: 0 auto;
  width: 220px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

@media (min-width: 410px) {
  .posts__img--hidden {
    display: block;
  }
  .drop-down-menu {
    display: none;
  }
  .posts__info {
    margin-left: 20px;
  }
  .img {
    margin-top: 30px;
    width: 370px;
    object-fit: cover;
    display: block;
  }
  .img--desktop {
    display: none;
  }
  .wrapper {
    max-width: 380px;
  }
  .img--mobile {
    display: none;
  }
  .posts {
    &__item {
      display: flex;
    }
    &__content {
      display: flex;
    }
    &__info {
      margin-top: 0;
    }
    &__title {
      margin-top: 0;
    }
  }
}
@media (min-width: 500px) {
  .menu__item {
    display: none;
  }
  .menu__list {
    position: relative;
    left: -20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .img {
    width: 410px;
  }
  .wrapper {
    max-width: 450px;
  }
}
@media (min-width: 550px) {
  .wrapper {
    max-width: 500px;
  }
}
@media (min-width: 640px) {
  .wrapper {
    max-width: 580px;
  }
}
@media (min-width: 768px) {
  .img {
    width: 700px;
  }
  .wrapper {
    max-width: 684px;
  }
}
@media (min-width: 1015px) {
  .wrapper {
    max-width: 768px;
  }
  .img {
    width: 768px;
  }
  .posts__items-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    max-width: 1100px;
  }
  .img {
    width: 1100px;
    &--laptop {
      display: none;
    }
    &--desktop {
      margin: 0;
      display: block;
    }
  }
}
