li{
    list-style: none;
}

.sidebar{
    display: flex;
    justify-content: space-around;
}

.add-section{
    width: 80px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}