body{
   font-family: sans-serif;

}
.container{
   width: 1280px;
   margin: 0 auto;
}
.nav-list{
   text-align: center;
}
.nav-list li{
display: inline-block;
padding: 25.5px 72px;
}
.nav-link{
   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 18px;
   line-height: 18px;
   letter-spacing: 2.7px;
   color: #FF0000;
}
.img-wrapper img{
   width: 100%;
}
.title{
   text-align: center;
   margin-top:49px ;
font-weight: bold;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
}

.text{
text-align: center;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.4px;
text-align: center;
}
.par{
   margin-top: 33px;
}

.content-btn{
   display: inline-block;
   margin-top: 66px;

   text-decoration: none;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 12px;
   line-height: 12px;
   letter-spacing: 1.8px;

   background: #FF0000;
   color: rgb(255, 255, 255);
   border-radius: 4px;
   padding: 17px 42px;
}
.page-bottom{
   padding: 82px 0;
}
.copy-by{
   text-align: right;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 2.4px;
      color: #373737;
}
