body{
font-family: 'Roboto', sans-serif;
}
.wrapper{
   height: 100%;
   background:url(../img/background\ 1.png);
   background-size: cover;
 }
 .navbar{
   padding-top: 45px;
   padding-bottom: 15px;
   display: flex;
   justify-content: space-between;
 }
 .logo-header{
   display: flex;
   text-decoration: none;
 }

.logo-img{
   background-position: center;
   width: 47px;
 }
.logo-header:hover .logo-img{
  content: url(../img/logo\ 2.png);
  background-position: center;
  width: 47px;
  transition: 0.1s;
}
.logo-img:hover ~ .logo-text span {
   color:#F26522;
   transition: 0.1s;
}
.logo-img:hover ~ .logo-text {
  color:#F26522;
  transition: 0.1s;
}
.logo-text:hover span {
   color:#F26522;
   transition: 0.1s;
}
.logo-text:hover {
  color:#F26522;
  transition: 0.1s;
}

.logo-text{
   display:flex;
   flex-direction:column;
   padding-left: 8px;
 }

.logo-big-uppercase{
 font-weight: bold;
 font-size: 29px;
 text-transform: uppercase;
 color: #FFFFFF;
 }
 .logo-uppercase{
 font-weight: bold;
 font-size: 18px;
 text-transform: uppercase;
 color: #FFFFFF;
 }
 .contacts-header{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: end;

 font-size: 18px;
 }
 .email-contacts{
   text-decoration: none;
   color: #FFFFFF;
 }
 .email-contacts:hover{
   color: #F26522;
 }
 .phone-number-contacts{
  text-decoration: none;
  color: #FFFFFF;
 }
 .phone-number-contacts:hover{
  color: #F26522;
 }
 .container{
   margin: 0 auto;
   width: 1020px;
   height: 650px;
 }
 .img-items-section{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   justify-content: space-between;
   grid-gap: 0 60px;
   row-gap: 35px;

 }
 .img-item{
   text-decoration: none;
   width: 300px;
 }
 .img-title{
   margin-top: 20px;
   font-size: 18px;
   text-align: center;
   color: #FFFFFF;
 }
 .image-block{
   position: relative;
   height: 220px;
 }
 .image{
  width: 300px;
  height: 220px;
 }
 .image-special{
   height: 230px;

 }
 .aside-block{
  display: none;
  }
 .details{
   display: flex;
   justify-content: space-between;
   background:#F26522;
   position:absolute;
   width: 300px;
   bottom: 0;
   box-sizing: border-box;
   padding: 8px 15px 12px 15px;
 }
 .small-word{
 font-size: 10px;

 color: #FFFFFF;
 }
 .cost-details{
   display: flex;
   flex-direction: column;
   font-size: 20px;
   color: #FFFFFF;

 }
.view-details{
  display: flex;
  align-items: flex-end;
}
.cost{
  padding-top: 10px;
}
.more-details{
   font-size: 14px;
   color: #FFFFFF;
}
.more-details::after{
   padding-left: 16px;
   content: url(../img/Vector\ 1.svg);
   width: 5px;

}
.img-item:hover .aside-block{
  display: flex;
  }
.img-item:hover .img-title{
   color: #F26522;
  }
.navbar-1{
  display: none;
}
.img-item:hover .navbar-1{
  display: block;
  }
.img-title:hover {
  color: #F26522;
}
.footer{
  text-align: center;
  padding: 25px 0 15px 0;
}
.footer-text{
  font-size: 12px;
  color: #FFFFFF;
}
.navbar-1{
  display: none;
}
.img-title:hover .navbar-1{
 display: block;
  }
