
.enter-price{

   position: fixed;
   top: 100px;

}
.correct-input-price{
   color: rgb(90, 247, 85);
}
.input-price{
   border-radius: 3px;
   outline: none;
   border: 2px solid rgb(126, 123, 123);
   padding: 6px;

}
.incorrect-input-price{
   border:  2px solid rgb(252, 72, 72);;
}
.input-price:focus{
   border:  2px solid rgb(90, 247, 85);;
}
.text{

   font-size: 22px;

}
.price{
   width: 160px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(236, 235, 235);
   border: 2px solid rgb(150, 150, 150);
   border-radius: 10px;
   padding: 4px 10px;
}
.incorrect{
   display: block;
}
.deleteBtn{
   width: 20px;
   height: 20px;
   padding-left: 4px;
   cursor: pointer;
}
