body{
   background: url(../img/Фон\ 1.png);
   background-size: cover;
   font-family: 'Ubuntu', sans-serif;
}
.header{
   padding: 18px 0;
   background: rgba(0, 0, 0, 0.4);
}
.header-content{
   margin: 0 auto;
   width: 90%;
   display: flex;
   justify-content: space-between;
}
.header-title{
   font-weight: bold;
   font-size: 22px;
   text-transform: uppercase;
   text-decoration: none;
   color: white;
}
.header-navbar{
   display: flex;
}
.calendar-icon{
   text-decoration: none;
   margin: 0 12px;
}
.brief-icon{
   text-decoration: none;
   margin: 0 12px;
}
.nav-icon{
   text-decoration: none;
   margin: 0 12px;
}
.navbar-icons{
   display: flex;
}
.navbar-icons::after{
   content: " ";
   align-self: center;
   background: #E5E5E5;
   width: 1px;
   height: 19px;
   float: right;
   margin: 0 25px;
}
.calendar-icon:hover #calendar,
.brief-icon:hover #brief,
.nav-icon:hover #nav
{
   fill: #236D47;
   transition: .1s;
}
.header-title:hover{
color:#236D47;
transition: .1s;
}
.header-log{
   align-self: center;
   color: white;
   font-size: 14px;
}
.navbar-go{
   text-decoration: none;
   color: white;
}
.navbar-go:hover{
   color:#236D47;
   transition: .1s;
}
.container{
   height: calc(100vh - 63px) ;
   display: flex;
   align-items: center;
   justify-content: center;
}
.content-wrapper{
   width: 444px;
   background: white;
   box-sizing: border-box;
   padding: 30px 60px;
   position: relative;
}
.content-wrapper::before{
   content: url(../img/sqr.svg);
   position: absolute;
   left: 0;
}
.form-go{
   display: flex;
   justify-content: space-between;
align-items: center;
}
.form-sign{
   font-size: 20px;
}
.form-log{
   font-size: 14px;
   color: #3CB878;
   text-decoration: none;
}
.form-log:hover{
   text-decoration: underline;
}
.button-section{
   margin-top: 15px;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
}
.button{
   display: flex;
   align-items: center;
   width: calc(100vh - 5px) / 2;
   cursor: pointer;
   border: none;
   outline: none;
   border-radius: 4px;
   padding: 16px 18px;
   box-sizing: content-box;

}
.btn-text{
display: flex;
align-items: center;
   font-size: 16px;
   color: white;
   align-items: center;
}
.facebook-btn{
   background: #305DB8;
}
.btn-text::before{
   content: " ";
   align-self: center;
   background: #E5E5E5;
   width: 1px;
   height: 28px;
   float: left;
   margin: 0 20px;
}
.google-btn{
   background: #DF4A32;
}
.facebook-btn:hover {
   background: #022263;
}
.facebook-btn:hover .btn-text::before {
   background: #0A162F;
   mix-blend-mode: normal;
   opacity: 0.1;
}
.google-btn:hover {
   background: #AB1F09;
}
.google-btn:hover .btn-text::before {
   background: #2B0D09;
mix-blend-mode: normal;
opacity: 0.1;
}
.text-between-section{
display: flex;
justify-content: center;
 z-index: 1;
font-size: 14px;
margin: 0 auto;
color: #848484;
position: relative;
overflow: hidden;
}
.background-text{
   background-color: white;
   padding: 0 2px;
}
.text-between-section::before{
   display: block;
   z-index: -1;
   width:324px;
   content: '';
   position: absolute;
   border-bottom: 1px solid #F2F2F2;
   top:50%;

}
.form-item{
   width: 324px;
   margin-top: 15px;
   padding: 16px 20px;
   outline: none;
   border: 1px solid #F2F2F2;
   border-radius: 4px;
   box-sizing: border-box;
}
.form-item:focus {
   padding: 17px 20px;
   border: none;

 }
 .form-item:focus{
   padding: 17px 20px;
   border: none;
   transition: box-shadow 0.1s linear;
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
 }
::placeholder {
   font-family: 'Ubuntu', sans-serif;
   color: #BEBEBE;
   font-size: 14px;
 }
.checkbox-text-link{
   text-decoration: none;
   color: rgba(60, 184, 120, 0.8);
}
.checkbox-text-link:hover{
text-decoration: underline;
color:#01813F;
}



.checkbox {
   cursor: pointer;
   margin-top: 12px;
   position: relative;
}

.checkbox-input {
   appearance: none;
   position: absolute;
}

.checkbox-label {
   padding-left: 26px;
   font-size: 14px;
   color: #434343;
   cursor: pointer;
}

.checkbox-label:before {
   content: "";
   display: block;
   width: 20px;
   height: 20px;

   border: 1px solid #ccc;
   background-color: #fff;
   border-radius: 3px;

   position: absolute;
   top: -1px;
   left: 0;
   z-index: 1;

   transition:  .1s;
}

.checkbox-label:after {
   content: "";
   display: block;
   width: 17px;
   height: 17px;

  background: url(../img/Vector\ 1.svg) no-repeat;
   background-size: 17px 17px;
   opacity: 0;

   position: absolute;
   top: 2px;
   left: 3px;
   z-index: 2;

   transition: .1s;
}


.checkbox-input:checked + .checkbox-label:after {
   opacity: 1;
}
.submit-button{
margin-top: 20px;
border: none;
outline: none;
cursor: pointer;

font-size: 16px;
color: #FFFFFF;

background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
padding: 16px 100px;
}
.submit-button:hover{
   background: #01813F;
   transition: .1s;
}
