.container{
max-width: 1280px;
width: 100%;
margin: 0 auto;
}
li{
   display: block;
}
.header-logo{
   display: flex;
   margin-top: 60px;
   margin-bottom: 38px;

   font-family: sans-serif;
   font-size: 80px;
}
.logo{
   display: flex;
   text-decoration: none;
}
.header-logo-black{
   color: black;
}
.header-logo-blue{
   color: #4BCAFF;
}
.header-nav{
display: flex;
justify-content: center;
background: #35444F;
}

.header-menu{
   text-align: center;
   padding: 25px 32px;
   border: 1px solid rgb(255, 255, 255);
}
.header-menu-link{
   text-decoration: none;
   font-family: sans-serif;
   font-size: 24px;
   color: #ffffff;
}
.header-menu:hover{
   background-color: #222F3A;
   transition: .5s;
}
.box-size{
   width:162px;
}
.main-section{
   display: flex;
   justify-content: space-between;
   align-items: start;
   margin-top: 50px;

}
.left-side-content{
   width: calc(30% - 26px);
   box-sizing: border-box;

}
.right-side-content{
   width: calc(70% - 26px);
   box-sizing: border-box;
}
.nav-column{
   display: flex;
   flex-direction: column;
   border: 1px solid ;
}
.nav-link-column{
   display: block;
   padding: 26px;
   text-decoration: none;
   font-family: sans-serif;
   font-size: 27px;
   line-height: 27px;

color: #485863;

}
.nav-link-column:hover{
   color: black;
   background-color: #DBDBDB;
   text-indent:25px;
   transition: 0.5s;
}
.image-position{
   text-align: center;
}
.image{
   width: 320px;
}
.image:hover{
   transform: scale(1.2);
   transition: .5s;
}
.image-border{
   border: 1px solid #000000;
   padding: 75px 0px;
}
.text-under-photo{
font-family: sans-serif;
font-size: 18px;
line-height: 24px;

color: #2C2C2C;

}
.paragraph{
margin-top: 36px;
}
.header-bottom{
   margin-top: 54px;
}
.footer-nav{
   margin-top: 54px;
   margin-bottom: 30px;
   display: flex;
   justify-content: space-between;
   padding: 24px 40px ;

   background: rgba(99, 105, 110, 0.48);
}
.nav-list{
   display: flex;
   width: 80%;

}

.footer-link{
   display: inline-block;
   padding: 0px 10px;
   text-decoration: none;
   font-family: sans-serif;
   font-size: 28px;
   color: #010101;
   box-sizing: border-box;
}
.footer-link:hover{
   color: rgb(27, 145, 255) ;
   padding-bottom: 8px;
   border-bottom: 2px solid rgb(27, 145, 255);
   text-transform: capitalize;
   transition: .3s;
}
.copy-by{
   display: flex;
   width: 20%;

   text-decoration: none;
   font-family: sans-serif;
   font-size: 24px;
   line-height: 24px;
}
