.form{
  width: 900px;
  max-width: 900px;
  margin: 5% auto;
  background-color: rgb(235, 243, 243);
  text-align: center;
  padding: 50px 0;
  border-radius: 10px;
  max-height: 100%;
  &__wrapper{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.4);
  }
  &__control{
    display: block;
    margin: 20px auto;
    width: 400px;
    border-radius: 4px;
    padding: 10px;
  }
}
.btn-primary{
  background-color: rgb(205, 245, 245);
  border-radius: 4px;
  border: 1px solid  rgb(100, 104, 104) ;
}
