.btn__buy{
  background-color: rgb(205, 245, 245);
  border-radius: 4px;
  border: 1px solid  rgb(100, 104, 104) ;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}