:root{
   --main-color: #18CFAB;

}
body{
   font-family: 'Montserrat', sans-serif;
   list-style: none;
}

.background-header{
   padding: 384px 0 243px 0;
   background-size: cover;
   background: url(../image/back1.png);
   background-attachment: fixed;
}
.header{
   width: 100%;
   position: absolute;
   top: 0;
   display: flex;

   background: rgba(94, 93, 88, 0.6);

   list-style: none;
}
.navbar{
   display: flex;
   align-items: center;
}
.navbar-items{
   display: flex;
}
.navbar-item{
   margin: 54px 10px;
}

.header-section{
   display: flex;
   justify-content: space-between;
   align-items:center;
}
.logo-icon{
   height: 58px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 54px;
   background: url(../image/background-icon.svg);
   background-position:center;
   background-size:67px 58px;
   text-transform: uppercase;
   font-weight: bold;
   font-size: 40px;
   color: white;
}
.logo-items{
   display: flex;
   align-items:center;
}
.main-menu:hover{
   padding-bottom: 55.5px;
   color: var(--main-color);

}
.main-menu{
   list-style-type: none;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 16px;

   color: rgba(255, 255, 255, 0.6);

}
.underline-menu {
   background:
     linear-gradient(currentColor 0 0) 0    100%/var(--d, 0) 3px no-repeat,
     linear-gradient(currentColor 0 0) 100% 100%/var(--d, 0) 3px no-repeat;
 }

 .underline-menu:hover {
   --d: 51%;
 }
.logo-text{
   padding-left: 6px;
}
.first-logo{
   font-size: 32px;
   font-weight: 400;
   color: white;
}
.second-logo{
   font-size: 32px;
   font-weight: 700;
   color: var(--main-color);

}
.theham-wrapper{
   color: white;
   text-align: center;
}
.two-color-title{
   text-transform: uppercase;

   font-weight: bold;
   font-size: 35px;
}
.color{
   color: var(--main-color);
}
.main-title{
   margin: 22px 0;
   text-transform: uppercase;

   font-weight: bold;
   font-size: 78px;
}
.main-subtitle{
   font-size: 34px;
}
.theham-btn{
   margin-top: 134px;
}
.btn{
width: 168px;
padding: 16px 0;
cursor: pointer;
border: none;
outline: none;
border-radius: 4px;
box-sizing: content-box;

text-transform: uppercase;

color: white;
background:var(--main-color);
}
.btn-background{
   background-color: #00CBF6 ;
   margin-left: 26px;
}
.btn-border{
border-top: 3px solid white ;
}
.text-item{
   text-align: center;
   display: block;
   margin-top: 46px;
   text-transform: uppercase;
   font-weight: bold;
font-size: 20px;
}
.grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid-item{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 100px ;
   padding-bottom: 110px;
}
.grid-img{

height: 96px ;
width: 60px;
}
.grid-img-diamond{
   width: 93px;
}
.grid-img-laptops{
   width: 99px;
}
 .grid-item:nth-child(odd){
   background: #1C2A33;
   color:var(--main-color);
}
.grid-item:nth-child(even){
   background: var(--main-color);
   color: white;
}


/* servise */
.container{
   max-width: 1160px;
   width: 100%;
   margin: 0 auto;
}
.service{
   padding: 80px 0 90px 0 ;
}
.subtitle{
   font-size: 36px;
   color: #4E4E4E;
   text-align: center;
 position: relative;
}
.subtitle:after{
   display: block;
   width:80px;
   content: '';
   position: absolute;
   border-bottom: 3px solid #18CFAB;
   top: 60px;
   left: 530px;
   box-shadow:10px 8px 0px -0.2px #18CFAB;

}
.service-tabServiceContent{
   margin: 120px 0 20px 0;
   display: flex;
   justify-content: center;
}

.service-tab-active::after{
   content: '';
   position: absolute;
   background: #18CFAB;
    bottom: -12px;
   width: 27px; height: 27px;
   right: 0;
   left: 0;
   margin: 0 auto;
   z-index: 1;
   transform: rotate(45deg); /* Поворачиваем на 45º */
   -webkit-transform: rotate(45deg);
  }
.service-tabServiceContent-title{
   padding: 15px 39.5px;
   font-size: 16px;
   line-height: 24px;
   color: #717171;
   background: #F8FCFE;
border: 1px solid #EDEFEF;
   cursor: pointer;
   box-sizing: border-box;
   position: relative;

}
.service-tab-active{
   background: #18CFAB;
}
.service-img{
   width: 192px;
   height: 139px;
   object-fit: cover;
}
.service-tabServiceContent-title:hover{
   padding: 14.5px 39px;
   border: 1.5px solid #18CFAB;
}
.service-tabServiceContent-title:active{
   background: var(--main-color);
   content: '';
}
 .tabServiceContent{
    margin-left: 15px;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
 }
 .tabServiceContent-item{
    height: 200px;
    display: none;
 }
 .tabServiceContent-item-active{
   height: 200px;
   display: flex;
   }
.back-section-install{
      background: url(../image/backinstall.png);
      padding: 127px 0;
      text-align: center;
   }
.title-install{
   font-weight: bold;
   font-size: 40px;
   color: var(--main-color);
   text-transform: uppercase;
}
.subtitle-install{
   margin-top: 15px;
   margin-bottom: 82px;
   font-size: 16px;
   color: #D8D8D8;
}
.back-section-work{
   padding: 98px 0;
   background: #E9EDEF;
}
.tabs-work{
   margin-top: 70px;
   display: flex;
   justify-content: center;
}
.tab-work-title{
   padding: 14px 16px;
   border: 1px solid #DADADA;
   font-size: 14px;
   color: #717171;
   cursor: pointer;
   box-sizing: border-box;

}
.tab-work-title-active{
   padding: 13px 15px;
   border: 2px solid var(--main-color);
   color: var(--main-color);
}
.images-work{
   margin-top: 70px;
   text-align: center;
}
.images-work-grid{
   display: grid;
   grid-template-rows: 1fr  ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-work{
   width: 285px;
}
.img-work-more{
   display: none;
}
.btn-show-more{
   margin: 0 auto;
   margin-top: 80px;
   display: flex;
   align-items: center;
   justify-content: center;

   font-weight: bold;
}
.add-icon{
   padding: 0 15px;
}
.news{
   padding: 82px 0 128px 0;
}
.news-items{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   margin-top: 68px;
   grid-gap: 2vw;

}
.news-data{
   top: 0;
  left:193px ;
   position: absolute;
   width: 70px;
   background-color: #203E38;

   font-size: 16px;
   color: #FFFFFF;
}
.news-item{
   position: relative;
   width: 263px;
   object-fit: cover;
}
.news-item:hover .news-data{
   background-color: var(--main-color);
   transition: .1s;
}
.news-item:hover .post-text h4{
   color: var(--main-color);
   transition: .1s;
}
.data-text{

   display: flex;
   flex-direction: column;
   text-align: center;
   line-height: 25px;
   padding: 10px 20px;
}
a{
   text-decoration: none;
}
.post-text{
   width: 263px;
   background: #F8FCFE;
   border: 1px solid #F2F4F5;

   padding: 10px 12px;
   box-sizing: border-box;
}
.post-title{
   background: #F8FCFE;
  margin-bottom: 10px;
   font-weight: bold;
   font-size: 17.9885px;
   color: #717171;;
}
.post-info{
   font-weight: 300;
   font-size: 13.991px;
   color: #777777;
}
.admin::after{
   margin: 0 8px;
   content: '|';
}
.news-img{
   display: flex;
  width: 100%;
}
.work-item {
   width: 285px;
   height: 206px;
   position: relative;
   perspective: 1000px;
 }
 .front, .back {
   position: absolute;
   width: 100%;
   height: 100%;
   transition: 1s;
   backface-visibility: hidden;
  }
 .front img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
 }
 .back {
   transform: rotateY(180deg);
 }
 .work-item:hover .front {
    transform: rotateY(180deg);}
.work-item:hover .back {
    transform: rotateY(360deg);}
.back-link::before{
   display: block;
   width: 285px;
   content: '';
   position: relative;
   top: -42.5px;
   left: -102.5px;
   border-bottom: 3px solid #18CFAB;
}
.back-link{
 padding-top:  40px;
   margin: 0 auto;
   width: 80px;
   height: 60px;

}
.back-name-project{
    display: flex;
   justify-content: center;
   margin-top:  18px;
text-transform: uppercase;
font-weight: bold;
font-size: 14.1771px;
color: var(--main-color);
}
.back-name-section{
   display: flex;
   justify-content: center;
margin-top: 22px;
font-weight: 300;
font-size: 12.1518px;
color: #8A8A8A;
}

/* carousel */
.wrapper-carousel{
   padding: 88px 0 0 0;
   background: url(../image/peoplesay.png);
   background-size: cover;
   text-align: center;
}
.sub-carousel{
   color: white;
}
.review::before{
   content: url(../image/Combined\ shape\ 2474.png);
   position: absolute;
   left: 556px;
   top: -65px;
   width: 47px;
height: 33px;
}
.review{
   height: 70px;
   position: relative;
   margin-top: 120px;

   font-weight: 300;
   font-size: 16px;
line-height: 30px;

color: #BBBBBB;
}
.person-name{
   margin-top: 36px;
   display: block;
   text-transform: uppercase;
   color: var(--main-color);
   font-size: 17px;
   font-weight: 700;

}
.person-proffesion{
   margin-top: 10px;
   display: block;
   color: #BBBBBB;;
   font-size: 13px;
   font-weight: 300;
}

.person-img{
margin-top: 40px;
width: 143px;
height: 142px;
box-shadow: 0px 0px 0px 8px rgba(24,207,171,0.2);
border-radius: 50%;
}
.carousel-section{
   width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel{
   width: 100%;
   margin: 0 auto;
height: 150px;
width: 320px;

}

.carousel::before:hover{
   background-color: var(--main-color)
}
.carousel-items{
    padding-top: 25px;
width: 100%;
display: flex;
justify-content: space-between;
overflow-x: auto;
transition: .5s;
}
.carousel-items::-webkit-scrollbar{
   visibility: hidden;
}
.carousel-img{
   width: 60px;
   height: 60px;
}
.active-carousel-item{
   transform: translateY(-20px);
   transition: .5s;

}
.carousel-item{

   cursor: pointer;
   position: relative;
padding: 10px 10px;
transition: .5s;
}
.carousel-item img {
   box-shadow: 0px 0px 0px 4px rgba(24,207,171,0.2);
   border-radius: 50%;
}
.btn-preview{
   position: relative;
   top: 80px;
   left: -200px;
   cursor: pointer;
}
.btn-preview:hover{
   background-color: var(--main-color);
   transition: .1s;
}
.btn-next{
   position: relative;
   transform: rotate(180deg);
   top: 80px;
   right: -200px;
   cursor: pointer;
}
.btn-next:hover{
   background-color: var(--main-color);
   transition: .1s;
}
footer{
   margin-top: 20px;
   padding: 46px 0;
   background: #22353F;
}
.footer-text{
   font-weight: 300;
   font-size: 14px;
   color: #AEAEAE;
}
.footer-color-text{
color: var(--main-color);
}
