:root {
   --main-color: #14B9D5;
}

.header-nav{
   display: flex;
   justify-content: space-between;
   align-items:center;
   height: 70px;
   background-color: #313131;
}
.header-left-block{
   display: flex;
}
.auto-fit img {
   width: 100%;
   /* display: block; */
}
.image-position{
   padding: 0px 20px;
}
.header-logo{
   font-family: "Open Sans",sans-serif;
   font-weight: bold;
   font-size: 22px;

   color: #FFFFFF;
}
.header-nav-center-block{
   display: flex;
}
.header-menu{
   list-style: none;
   margin: 0px 20px;
}
.main-menu:hover{
   color: var(--main-color);
   transition: .5s;

}
.main-menu{
   text-decoration: none;
   font-family: "Open Sans",sans-serif;
   font-weight: 600;
   font-size: 15px;

   text-transform: uppercase;

   color: #FFFFFF;

}
.header-right-block{
   display: flex;

}
.background-icon{

   background-color: black;
   padding: 25px;
}
.wrapper-latest-news{
   background: url(../header-background.png);
   background-size: cover ;
   align-items:center;
   padding: 170px 0;
}
.title{
   display: flex;
   justify-content: center;
font-family: sans-serif;
font-weight: bold;
font-size: 27px;
text-transform: uppercase;
}
.white{
   color: #FFFFFF;
}
.main-title-position{
   display: flex;
   justify-content: center;
   /* padding-top:160px ; */

}

.btn{
   display: flex;
   justify-content: center;
   margin-top: 45px;

}
button{
   margin: 10px;

}
.btn-design{
   border: none;
   flex-basis: 170px;
   padding: 15px;
   border-radius: 2px;
}
.green{
   background: #89CA62;
}
.blue{
   background:  var(--main-color);

}
a{
   font-family: "Open Sans",sans-serif;
   font-weight: 600;
   font-size: 18px;
   text-decoration: none;
   color: #FFFFFF;
}
.container{
   max-width: 1170px;
   width: 100%;
   margin: 0 auto;
}
.block-posts{
   text-align: center;
   padding-top: 50px;
}
.main-color{
   color: var(--main-color);
}
.section-top-rated{
   padding-top: 50px;
}
.block-posts-background{
   padding: 50px 0;
   background-color: #F2F2F2;

}
.image-section-posts{
   margin-top: 50px;
   height: 900px;
   display: flex;
   flex-flow: column wrap;
   align-content: space-between;


}
.img{
   display: flex;
   width: 370px;
}
.royal-img, .sunset-img, .sunset-img{
   margin-top: 30px;
}
.subtitle{
   display: flex;
   width: 370px;
   font-family: "Open Sans",sans-serif;
   font-weight: bold;
   font-size: 18px;
  justify-content: center;
   color: #353A3D;

}
.image-subtitle-background{
   background: #FFFFFF;
   padding: 20px 0px ;
   flex-basis: 370px;
   box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

}
.wrapper-clients{
   padding: 170px 0;
   background: url(../parallax-bg.jpeg) fixed;
   background-size: cover ;
   display: grid;
   grid-row-gap: 70px;
   grid-auto-flow: row;
   justify-items:center;
}
.line-under-title{
   width: 60px;
   height: 3px;
   /* margin: 0 auto; */
   /* margin-top: 85px; */
   background: var(--main-color);
}
.icon-clients{
   /* margin-top: 105px; */
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-in-line{
padding-top: 50px;
display: grid;
grid-auto-flow: column;
width: 100%;
}
.block-hot-news{
   padding: 50px 0;
}
.news-text{
   text-align: right;
   padding: 2px 15px;
   background: #F9F7F7;
 }
.news-title{
   font-family: "Open Sans",sans-serif;
   font-weight: bold;
   font-size: 18px;
   color: #353A3D;

}
.news-description{
   padding-top: 15px;
   font-family: "Open Sans",sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;

   color: #5B6469;

}
.item1{
   grid-column: 1/4;
 }
 .item2{
    grid-column:4/5;
 }
 .item3{
   grid-column:1/3;
 }
 .item4{
   grid-column:3/5;
 }
 .item5{
   grid-column:1/3;
 }
 .item6{
   grid-column:3/5;
 }
 .item7{
   grid-column:1/2;
 }
 .item8{
   grid-column:2/5;
 }
.middle-img-width{
   width: 100%;
}

.row-news-section{
   /* margin-top: 50px; */
   /* display: grid; */
   /* grid-template-columns: 1fr 1fr 1fr; */
   /* margin-bottom: 45px; */

}
/* .text-background{
   background: #F9F7F7;
   padding: 30px 20px;
   text-align: right;
} */
.right-section{
   display: grid;
   justify-content: flex-end;
   text-align: center;
}
.title-background{
   text-align: ;
   background: #8d8d8d;
   padding: 15px;
}
 .left-section{
   display: grid;
   justify-content: flex-start;
   text-align: center;
}
footer{
   margin-top: 80px;
   background-color: black;
   background-size: 100% 100%;

}
.rights{
   height: 80px;
   display: grid;
   align-items:center;
   grid-template-columns: 1fr 1fr;
}
.rights-text{
   font-family: "Open Sans",sans-serif;
   font-size: 13px;

   color: #FFFFFF;
}
.rights-icon{
   justify-self:flex-end;

}
.items{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 45px 20px;

}
.grid-1{
display: grid;
grid-template-columns: 1fr 1fr;
}
.grid-2{
   /* display: grid;
   grid-row: 1fr; */
   /* grid-template-columns: 1fr; */
}
.grid-3{
   display: grid;
   grid-template-rows: 1fr  ;
}
.grid-8{
   display: grid;
   grid-template-columns: 1fr 1fr;
   }
