.wrapper{
  background-color: black ;
  margin-top:100px ;
  perspective: 100px;
  /* обратить внимание на перспективуууууууууууууууууууууууууууууууууууууууууууууууууууууу */
}
.title{
   margin-top:50px ;
   text-align: center;
   text-transform: uppercase;
}
.scroll-text{
   width: 100%;
   margin: 0 auto;
   animation: scroll-text 30s linear;
   animation-iteration-count: infinite;
}
.text{
   width: 50%;
   font-family: 'Lato', sans-serif;
   text-align: justify;
   color: goldenrod;
   margin: 0 auto;
   font-size: 30px;
   line-height: 50px;
}
.container{
   margin: 0 auto;
}
.paragraph{
   margin-top:50px ;
}
@keyframes scroll-text{
0%{
   transform: rotateX(30deg) translate3D(0, 400px, 0);
}
100%{
   transform:  rotateX(30deg) translate3D(0,-300px,0);
}
}
