html, body {
    height: 100%;
  }
.modal{
    &__wrapper{
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px;
      backdrop-filter: blur(4px);
      background: rgba(0, 0, 0, 0.4);
    }
    &__body{
      max-width: 500px;
      margin: auto;
      background: white;
      margin-top: 5%;
      padding: 20px;
      border-radius: 10px;
      max-height: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar{
        width: 0;
        background: transparent;
      }
      &h2{
        text-align: left;
        width: 100%;
        margin: 0;
      }
    }
    &__wrapper.open{
      height: 100%;
      display: block;
    }
    &__wrapper.close{
      height: 0;
      display: none;
    }
    &__close{
      text-align: right;
      margin-top: -15px;
      font-size: 40px;
      color: gray;
      cursor: pointer;
    }
  }
  
  .btn{
    width: 200px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin: 20px;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  